$color-black:#000;
$color-black1:#18181a;
$color-black2:#333333;
$white:#ffffff;
$gray:#CFBDFF;
$light-cyan:#CFFCFF;
$color-blue:#4404bf;
$color-blue-light:#cfbdff;
$color-blue-dark:#310489;
$color-green:#defe46;
$color-green-dark:#B7E200;
$font-weight-bold:700;
$font-weight-semi:500;
$font-weight-300:300;