@import "variable";

.body-hidden{
  overflow: hidden;
}

.section {
  height: 100vh;
  background-color: aquamarine;
  scroll-snap-align: start;
  position: relative;
  transition: all 0.5s;
  margin-top: -100px;
  overflow: hidden;
}
.section-inner {
  height: 100vh;
  transition: all 0.5s;
  position: relative;
  padding-bottom: 100px;
  .container,.container-full{
    
    position: relative;
  transition: all 0.8s;
  transform: translateY(0);
    top: 0;

  }
}
.section:first-child {
  margin: 0;
}


.section.active {
  
  .section-inner{
    .container,.container-full{
    // animation: yoyo 3s ease infinite;
    transform: translateY(-50%);
    top: 50%;
    }
  }
}


@keyframes yoyo {
  0% {
    align-items: center;

  }
  50% {
    align-items: center;
  }
  100% {
    align-items: center;
  }
}


// .items{
//     width: 100%;
//     flex-wrap: wrap;
//     display: flex;
// }
// .items .item{
//     width: 33.33%;
//     margin: 0;
//     border:1px solid cornsilk;
//     height: 20vh;
// }

.container {
  max-width: 1270px;
  margin: 0 auto;
}

.loader {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background-size: 40%;
  transition: opacity 1.2s;
  opacity: 1;
  pointer-events: none;
  background-size: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  span{    
    width: 200px;
    height: 200px;
    background: #000 url("/assets/images/magicedtech.svg") no-repeat 50% 50%;
    animation: zoom-in-zoom-out 3s ease infinite;
    
  }
}




.loader.hide {
  opacity: 0;
  /* top: -100%; */
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.7, 1.7);
  }
  100% {
    transform: scale(1, 1);
  }
}




// .viewall{
//     width: 50%;
//     height: 40px;
//     background-color: rgba(255, 255, 255, 0.5);
//     margin-top: 30px;
//     float: right;
// }

// .items .item{
//     width: 33.33%;
//     margin: 0;
//     border:1px solid cornsilk;
//     height: 20vh;
//     transition: all 0.5s;
//     background:#000 url(../images/ani.svg) no-repeat;
//     background-position: -120px -120px ;
//     background-size: 40%;

// }
// .items .item:hover{
//     background-position: -30px -30px ;
//     border-color:violet ;
//     background-color: blue;
// }

// #fp-nav.labels li .fp-tooltip{
//     transition: opacity .5s ease-in;
//     width: auto;
//     opacity: 0.5;
// }
// #fp-nav ul li, .fp-slidesNav ul li{
//     margin-bottom: 30px;
// }

/* ==== */
.hero-slider {
  width: 100%;
  height: 100vh;
}

.hero-slider .slide-img {
  width: 100%;
  height: calc(100vh - 100px);
  background-position: 50% bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-slider .slide-img {

}
.fp-auto-height {
  min-height: auto;
}


.lottie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 50%;
  top: 0;
  height: calc(100vh - 100px);
  transform: translateX(-50%);
  width: 100%;
  pointer-events: none;
  z-index: 9;


  .heading{
      position: absolute;
      text-align: center;
      z-index: 1;
      font-size: size(60);
      color: #deff46;
      font-weight: 500;
      opacity: 0;
      transition: all 1s;

      &.active{
          opacity: 1;          
      }
  }

}

#myMenu {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0);
  display: flex;
  flex-direction: column;
  left: 42px;
    li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 10px 0;
    position: relative;
    a {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
            span {
                border-radius: 50%;
                position: absolute;
                z-index: 1;
                height: 8px;
                width: 8px;
                border: 0;
                background: #defe46;
                left: 0;
                top: 4px;                 
                transition: all 0.1s ease-in-out;
                margin: 2px 0 0;
            }
        }
        &.active a span {
            transform: scale(1.5);
            transform-origin: center center;
            }

    .fp-tooltip {
        position: absolute;
        top: -2px;
        color: #fff;
        left: 22px;
        font-size: 14px;
        font-family: arial, helvetica, sans-serif;
        white-space: nowrap;
        max-width: 220px;
        display: block;
        transition: all 0.5s;
        cursor: pointer;
        font-size: 20px;
        opacity: 0;
        transform: translateX(-50%);
        width: 200px;
        pointer-events: none;
      }
      
        .fp-tooltip[data-active="true"] {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }

}
 
}

.myMenuOuter {
  position: fixed;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh - 100px);
  z-index: 9;
  left: 0;
  top: 0;
  transition: all 1s;
  transform: translateX(-100%);

 &.theme-light{
    background: none;
        #myMenu{
            .fp-tooltip {
                color: #000;
            }
            li a span{
                background: #CFBDFF;
            }
            li.active a span {
                background: #4504BE;
            }
        }
    }


}
.myMenuOuter.show {
  transform: translateX(0);
}
.myMenuOuter.small {
  width: 100px;
}

/* .myMenuOuter.small #myMenu li  .fp-tooltip {
        opacity: 0;
    } */


.header-dark{
    transition: all 0.5s;
    &.small-header{
        height: size(60);
    }
}

.menu-sec{
  position: static!important;
}
.mega-dropdown{
  position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease .3s, visibility .2s;
    will-change: opacity;
 
    background: #000;
    color: #CFBDFF;
    height: 0;

    .drop-inner{
      opacity: 0;
      transform: translateY(-10px);
      transition: all .2s ease .3s;
    }
}

.menu-sec .menu ul li:hover{
  > a{
    color: $color-green;
  }
  .mega-dropdown{
    visibility: visible;
     height: 400px;
    max-height: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
    pointer-events: auto;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 20%);
    opacity: 1;
    .drop-inner{
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease .5s;
    }

  }
}

.navsection{
  align-items: stretch!important;
  .menu-sec .menu ul,
  .menu-sec .menu,
  .menu-sec .menu ul li,
  .logo-sec,
  .menu-sec{
    display: flex;
  }
  .logo-sec,
  .menu-sec .menu ul li{
    align-items: center;
  }
}


.menu-open .section-inner{
  transform: translateX(400px);
}